apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service-deployment
  namespace: catalog-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: 330646026914.dkr.ecr.eu-west-1.amazonaws.com/catalog-service:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 9001
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 9001
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 9001
          initialDelaySeconds: 45
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: catalog-app
spec:
  type: LoadBalancer
  selector:
    app: catalog-service
  ports:
  - protocol: TCP
    port: 80
    targetPort: 9001
